.floating-ai-button{

position:absolute;

right:25px;

bottom:110px;

width:70px;

height:70px;

border:none;

border-radius:50%;

background:#16A34A;

color:white;

cursor:pointer;

box-shadow:0 10px 30px rgba(0,0,0,.35);

display:flex;

justify-content:center;

align-items:center;

transition:.25s;

z-index:1200;

}

.floating-ai-button:hover{

transform:scale(1.08);

}